
.container {
    margin: 0 auto;
    width: 80%;
}
.main__block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.forecast__container {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}
