.current__weather {
    margin: 0 auto;
    padding: 20px;
    padding-left: 30px;
    min-width: 300px;
}
.current__weather-name {
    font-size: 30px;
    color: #26A69A;
}
.current__weather-field {
    font-size: 20px;
}
.WheatherPic {
    padding-left: 40px;
}
.nothing {
    margin: 0 auto;
}

